
@{
    ViewBag.Title = "Cadastrar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';

        let beneficiariosList = [];
    </script>


    @Scripts.Render("~/bundles/clientes")
    @Scripts.Render("~/bundles/beneficiarios")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")

<div id="modalBeneficiarios" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Beneficiários</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("FormsBeneficiario")
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div> <!-- /.modal -->                                                                                        